@media all and (min-width: 1200px) {
    body{
        font-size: 16px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        color: grey;
    }
}

@media all and (max-width: 1199px) and (min-width: 992px) {
    body{
        font-size: 14px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        color: grey;
    }
}

@media all and (max-width: 991px) and (min-width: 800px) {
    body{
        font-size: 12px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        color: grey;
    }
}


h1 {
  position: relative;
  margin-top: 4%;
  left: 5%;
  font-size: 1.2em;
}

h2 {
  position: relative;
  margin-bottom: 10%;
  font-size: 0.9em;
}

h3{
  position: relative;
  left: 5%;
  font-size: 0.9em;
}

/* -------- Header --------- */
.active {
  position: relative;
  left: 40%;
}

#logo_suisse {
  position: relative;
  width: 35%;
  /* margin-left: 0%; */
  margin-top: 1%;
  margin-bottom: 1%;
}

#banner2 {
  display: block;
  background-color: #dc1f17;
  height: 28px;
  width: 100%;
}

#banner2 input {
position: relative;
background-color: #dc1f17;
border: none;
height: 22px;
color: white;
}

#banner2 #deutsch {
  margin-left: 90%;
}


header a {
  color: grey;
}

a:hover {
  color: black;
  text-decoration: none;
}

.navbar-header {
  font-size: 2em;
}

/* --------- Navbar ---------  */
.navbar {
  height: 80px;
}

#main_contact {
  margin-top: 3%;
}

#contact {
  padding: 30px 5%;
  width: 50%;
  height: 500px;
}

#main_data p{
  padding: 30px 5%;
}

#main_data table {
  margin-left: 5%;
}

#main_about p{
  padding: 30px 5%;
}

/* -------- Container -------- */

 .line1 {
  height: calc((100vh - 140px)/4);
}

.line2 {
  height: calc((100vh -140px)/2);
}

.line3 {
  height: calc((100vh - 140px)/2.5);
}

.grid {
  background-color: #FAFAFA;
  text-align: center;
  color: grey;
  text-align: center;
  padding: 10px 0;
  font-size: 2em;
  border: 5px solid white;
}

.map { height: 100% }

select {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  font-size: 0.45em;
}

/* ------ Design des div ------- */

.pyramide {
  display: block;
  text-align: center;
  height: 100%;

}

.pyramide svg {
  width: 100%;
  height:100%;
}

.map {
  display: block;
  text-align: center;
  height: 100%;
}

.map svg {
  width: 100%;
  height:100%;
}

/* -------- Axis ---------- */

.axis line {
  stroke: grey;
  opacity: 0.5;
}

.axisY line {
  stroke: none;
}

.axis path {
  stroke: none;
}

.axisY path {
  stroke: none;
}

.axis text {
  stroke: grey;
  opacity: 0.6;
}

.axisY text {
  stroke: grey;
  opacity: 0.6;
  text-anchor: middle;
}

.axis_m,.axis_f {
  stroke: grey;
  opacity: 0.6;
}
.axis_m .domain,.axis_f .domain {
  stroke: none;
}

/* -------- Tooltip -------- */

.tooltip {
  position: absolute;
  background-color: lightgrey;
  color: grey;
  border-radius: 18px;
  text-align: center;
  padding: 8px;
  margin-top: -20px;
  pointer-events: none;
}

/* ------- Footer ------- */
#copyright {
  position: absolute;
  bottom: 0;
  font-size: 0.5em;
}

#footer {
  display: block;
  background-color: #dc1f17;
  height: 40px;
  width: 100%;
}

#footer p {
  text-align: center;
  margin-top: 1%;
  padding-top: 12px;
  color: #ffffff;
  position: relative;
  font-size: 0.8em;
}
